.ColorBox{
 width: calc(100%/6);
 height: 100%;
 display: inline-block;
 position: relative;
 margin: 0 auto;
 text-transform: uppercase;
}

.ColorBox:first-child{
border-top-left-radius: 13px ;
border-bottom-left-radius: 13px;
}

.ColorBox:last-child{
    border-top-right-radius: 13px ;
    border-bottom-right-radius: 13px;
    }

.ColorBox-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.white-font{
    color:white;
}

.ColorBox-container span{
    margin-top: 10px;
    font-size: 1rem;
}

.ColorBox-container i{
    margin-top: 30px;
    font-size: 1rem;
    opacity: 0;
}

.ColorBox:hover i{
    opacity: 0.5;
    transition: 0.2s;
}

.ColorBox-container i:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0ms;
}


/* tooltip */

.tooltip{
    color: rgba(255, 255, 255, 0.6) !important;
 background-color: rgba(0, 0, 0, 0.247) !important;
 opacity: 0.4 !important;
 font-size: 0.8rem !important;
 padding: 4px 10px !important;
 border-radius: 7px !important;
}

 .tooltip:after {
 border-right-color: rgba(0, 0, 0, 0.247) !important;
 border-right-style:solid !important;
 border-right-width: 5px !important;
 }


 /* copied overlay */
 
.copied-overlay{
    opacity: 0;
    z-index: 5;
    width: 1px;
    height: 1px;
    transition: transform 0.5s ease-in-out;

}

.copied-overlay.show{
    opacity: 1;
    transform: scale(5000);
    z-index: 10;
    position: absolute;
}

.copied-msg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(0.1);
    opacity: 0;
}

.copied-msg.show{
    opacity: 1;
    transform: scale(1);
    z-index: 15;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.copied-msg h1{
    font-weight: 300;
    font-size: 4rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
    text-transform: uppercase;
    opacity: 0.7;
}

.copied-msg p {
    font-size: 1.5rem;
    font-weight: 100;
    opacity: 0.5;
}
