.ColorScaleBox{
    width: 100%;
    flex-grow: 1;
    display: flex;
    text-align: center;
    transition: .1s;
}

.ColorScaleBox p{
    margin: auto;
    opacity: 0;
    font-size: .85rem;
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
}

.ColorScaleBox:hover p{
    opacity: 1;
    position: relative;
}

.ColorScaleBox p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.ColorScaleBox:hover {
    flex-grow: 1.5;
    transition: .1s;
}