
/* tooltip */

.tooltip{
    color: rgba(255, 255, 255, 0.6) !important;
 background-color: rgba(0, 0, 0, 0.247) !important;
 opacity: 0.4 !important;
 font-size: 0.8rem !important;
 padding: 4px 10px !important;
 border-radius: 7px !important;
}

 .tooltip:after {
 border-right-color: rgba(0, 0, 0, 0.247) !important;
 border-right-style:solid !important;
 border-right-width: 5px !important;
 }
