.palette{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.palette-container{
    height: 70%;
    width: 65%;
    background-color: teal;
    padding: 10px;
    border-radius: 20px;
}

.palette-colors{
    height: 100%;
}

.palette-adjustments{
 width: 25%;
}

.header{
    position: fixed;
    display:inline;
    left:0;
    top:0;
}
