.Pallete{
    height: 100vh;
    overflow: hidden;
}

.Pallete-colors{
    height: 80%;
}


/* color adjustment sliders */

.slider {
    width: 340px;
    margin: 0 10px;
    display: block;
}

.rc-slider-track{
    background-color: transparent;
}

.rc-slider-rail{
    height: 8px;
}

